/.vs/
/bin
/obj
/Assembly-CSharp/.vs/
/Assembly-CSharp/obj/
/Assembly-CSharp/Assembly-CSharp.csproj
/DebugImpl/
/MystiaReverse/
/ForDebug/
/LogGenerator/bin/
/LogGenerator/obj/
/LogGenerator/bin/
/LogGenerator/obj/
.idea
