.idea
.vs
/bin
/obj
/Assembly-CSharp/.vs/
/Assembly-CSharp/obj/
/Assembly-CSharp/Assembly-CSharp.csproj
/DebugImpl/
/ForDebug/
/MystiaReverse/
/LogGenerator/bin/
/LogGenerator/obj/
/LogGenerator/bin/
/LogGenerator/obj/
